.dlg_block_sidekick {
  -webkit-box-shadow: 0 0 20px 2px #333333;
  -moz-box-shadow: 0 0 20px 2px #333333;
  box-shadow: 0 0 20px 2px #333333;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
}
.dlg_block_sidekick .ui-dialog-titlebar-close {
  display: none;
}
#dlg_block_sidekick.ui-dialog-content {
  padding: 0;
}
#dlg_block_sidekick .dlg_block_sidekick_category,
#dlg_block_sidekick .dlg_block_sidekick_category_blocks {
  padding: .5em;
}
#dlg_block_sidekick .dlg_block_sidekick_category_blocks_block,
.dlg_block_sidekick_category_blocks_block.ui-draggable-dragging {
  padding: .5em 0;
  cursor: move;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  z-index: 99999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
#dlg_block_sidekick .dlg_block_sidekick_category {
  background-color: #001f3f;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
.dlg_block_sidekick_region_hover {
  -webkit-box-shadow: inset 0px 0px 0px 10px #f9f99a;
  -moz-box-shadow: inset 0px 0px 0px 10px #f9f99a;
  box-shadow: inset 0px 0px 0px 10px #f9f99a;
}
